doctype html
html(lang="en")
  head
    title= pageTitle
  
  body
    
    #container.col
      p Dear #{firstName}

      p 
      | Please 
      a(href=`${url}`) click here
      |  to verify you account
     

      p Thank you,
      p Infy origin team. 

    